

#header{
    position: sticky;
    width: 100%;
}

.gris{
    background-color: rgb(243, 238, 238);
}


.navbar-light .navbar-brand {
    font-family: 'Rubik';
    font-size: 2em; 
    color: rgb(254, 180, 217); 
}


.navbar-light .navbar-nav .nav-link.active, .navbar-light .nav-bar-nav.show> .nav-link {
    color:rgb(254, 180, 217); ;
    font-family: 'Rubik';
    font-size: 1,5em;
}


