
/*Maps*/

$redes: (
   mail:#55acee,
   comprar:#3a5795,
   llamar:#c25e30
);

@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}

/*Extend*/

.redSocial{
    border: 2px solid pink;
    background-color: red;
}

.redsocial--social{
    @extend .redSocial;
    color: aqua;
    border-radius: 7px; 
}