
/*Maps*/

$redes: (
   mail:#55acee,
   comprar:#3a5795,
   llamar:#c25e30
);

@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}

/*Extend*/

.texto{
   border: 2px solid red;
   background-color: darkblue;
}

.texto--social{
    @extend .texto;
    text-align: center;
    background-color: blueviolet;
    color: cadetblue

}

.texto--nueva{
    @extend .texto;
    text-align: center;
    background-color: darkorchid;
    color: cadetblue;
    border-radius: 2px;
}

/*Mixin*/ 

@mixin sizes ($width, $height) {
    height: $height;
    width: $width;
}

.my_mixin{
    @include sizes (500px,50px);
    background-color:fuchsia;
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

