
/*Maps*/

$redes: (
   mail:#55acee,
   comprar:#3a5795,
   llamar:#c25e30
);

@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}

/*Extend*/

.boton{
    border: 2px solid ;
    background-color: #3a5795;
}

.redsocial--social{
    @extend .boton;
    color: aqua;
    border-radius: 7px; 
}

.redsocial--nueva{
    @extend .boton;
    text-align: center;
    background-color: #3a5795;
}