
@import "generales";
@import "nav";
@import "footer";
@import "sassdos";



header#header{
    grid-area: header;
}

figure#foto{
    grid-area: foto;
}

section#nosotros{
    grid-area: nosotros;
}

section#pagos{
    grid-area: pagos;
}



@media(max-width: 760px) {


#grilla{
    display: grid;
    grid-template-areas: "header"
                         "foto"
                         "nosotros"
                         "pagos"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr; 
    row-gap: 10px;
    height: 600px; 
    width: auto;           
}


h2{ 
    color:rgb(254, 180, 217);
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: bolder;
}


.parrafoPagos{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: medium;
    color: rgb(101, 146, 146); 
} 


/*cunas*/

#grillaCunas{
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "fotosCunas"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    row-gap: 15px;
    height: 600px; 
    width: auto; 
}


.fotosCunas{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}


/*blanqueria*/

#grillaBlanqueria{ 
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "blanqueria"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    row-gap: 15px;
    height: 600px; 
    width: auto; 
}

.blanqueria{ 
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

/*promociones*/

#grillaPromo{
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "articulo"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    row-gap: 15px;
    height: 600px; 
    width: auto; 
}


/*contacto*/

#grillaContacto{
    display: grid;
    grid-template-areas: "header"
                         "bebe"
                         "bebe"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    height: 600px; 
    width: auto; 
}



}

@media(min-width: 761px) {
 
    #grilla{
        display: grid;
        grid-template-areas: "header"
                             "foto"
                             "nosotros"
                             "pagos"
                             "footer";
        grid-template-columns: 1fr;  
        grid-template-rows: 2fr 90% 1fr 1fr 1fr; 
        row-gap: 10px;
        height: 600px; 
        width: auto;           
    }
    

    h2{
        color:rgb(254, 180, 217);
        font-size: 1,5em;
        font-family: 'Inter', sans-serif;
        text-align: center;
        font-weight: bolder;
    }
    
    
    .parrafoPagos{
        text-align: center;
        font-family: 'Mukta', sans-serif;
        display: flex;
        flex-direction: row;
        column-gap: 3em;
        font-size: medium;
        color: rgb(101, 146, 146); 
        max-width: 90%;
        padding-left: 9em;
    }
    
    
    /*cunas*/
    
    #grillaCunas{
        display: grid;
        grid-template-areas: "header"
                             "descripcion"
                             "fotosCuna"
                             "footer";
        grid-template-columns: 1fr;  
        grid-template-rows: 2fr 1fr 2fr 1fr; 
        row-gap: 15px;
        height: 600px; 
        width: auto; 
    }
    
    
    .fotosCunas{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 3%;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 4em;
        justify-content: space-around;
    }
    
    /*blanqueria*/

 #grillaBlanqueria{ 
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "blanqueria"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    row-gap: 15px;
    height: 600px; 
    width: auto; 
}

 .blanqueria{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    row-gap: 2em; 
    column-gap: 2em;
}



/*promociones*/

#grillaPromo{
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "articulo"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    row-gap: 15px;
    height: 600px; 
    width: auto; 

}


/*contacto*/

#grillaContacto{
    display: grid;
    grid-template-areas: "header"
                         "bebe"
                         "direccion"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    height: 600px; 
    width: auto; 
}

} 