
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100;200&family=Mukta:wght@200&family=Oleo+Script+Swash+Caps:wght@700&family=Pacifico&family=Poppins:wght@100&family=Rubik&display=swap');

@media(max-width: 760px) {

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-size: 1em;
}

#grilla{
    height: 100vh;
    width: 100%;
}

#grilla{
    display: grid;
    grid-template-areas: "header"
                         "foto"
                         "nosotros"
                         "pagos"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 90% 1fr 1fr 1fr; 
    row-gap: 10px;
    height: 600px; 
    width: auto;           
}

header#header{
    grid-area: header;
}

figure#foto{
    grid-area: foto;
}

section#nosotros{
    grid-area: nosotros;
}

section#pagos{
    grid-area: pagos;
}

#header{
    background-color: rgb(243, 238, 238);
    font-family: 'Inter', sans-serif;
    position: sticky;
    top: 0px;
    padding: 10px;
    width: 100%;
    z-index: 1;
}

.gris{
    background-color: rgb(243, 238, 238)
}


a{
    text-decoration: none;
    font-size: 1em;
    color:rgb(220, 143, 180);                              
}


#foto{
    text-align: center;
    max-width: 100%;
    height: auto;
}



h1{ 
    display: flex;
    align-self: flex-start;
    color:rgb(254, 180, 217);
    font-family: 'Rubik';
    font-size: 4em;
}


h2{
    color:rgb(254, 180, 217);
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

h3{ color:rgb(254, 180, 217);
    font-size: 2em;
    font-style: oblique;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-bottom: 3%;
}


p{
    font-family: 'Mukta', sans-serif; 
    font-size: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.parrafoPagos{
    text-align: justify;
    font-family: 'Mukta', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: medium;
    padding-bottom: 5%;
}

/*footer*/

.pieDePagina{
    color: dimgray;
    
}

footer{
    background-color: rgb(243, 238, 238);
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    height: 110px;
    width: 100%;  
    align-items: center;

}

.social{
      display: flex;
      gap: 20px;
}

.social i{
    font-size: 20px;
}

/*cunas*/

#grillaCunas{
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "fotosCuna"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 2fr 2fr 2fr; 
    row-gap: 15px;
    height: auto; 
    width: auto; 
}

.fotosCunas{
   width: auto;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 2em;
}


/*blanqueria*/

#grillaBlanqueria{ 
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "blanqueria"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    row-gap: 15px;
    height: 600px; 
    width: auto; 
}

.blanqueria{ 
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

/*promociones*/

#grillaPromo{
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "articulo"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    row-gap: 15px;
    height: 600px; 
    width: auto; 

}




/*contacto*/

#grillaContacto{
    display: grid;
    grid-template-areas: "header"
                         "bebe"
                         "bebe"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    height: 600px; 
    width: auto; 
}

form{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
}

.direccion{ 
    font-family: 'Mukta', sans-serif; 
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.bebe{
    background-color: rgb(227, 233, 233);
    text-align: center;
    width: 100%;
    height: 100%;
}



}


@media(min-width: 761px) {

    *{
        padding: 0;
        margin: 0;
    }
    
    html{
        font-size: 62.5%;
        font-size: 1em;
    }
    
    #grilla{
        height: 100vh;
        width: 100%;
    }
    
    #grilla{
        display: grid;
        grid-template-areas: "header"
                             "foto"
                             "nosotros"
                             "pagos"
                             "footer";
        grid-template-columns: 1fr;  
        grid-template-rows: 2fr 90% 1fr 1fr 1fr; 
        row-gap: 10px;
        height: 600px; 
        width: auto;           
    }
    
    header#header{
        grid-area: header;
    }
    
    figure#foto{
        grid-area: foto;
    }
    
    section#nosotros{
        grid-area: nosotros;
    }
    
    section#pagos{
        grid-area: pagos;
    }
    
    #header{
        background-color: rgb(243, 238, 238);
        font-family: 'Inter', sans-serif;
        position: sticky;
        top: 0px;
        padding: 10px;
        width: 100%;
        z-index: 1;
    }
    


    
    #foto{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    
    h1{ 
        display: flex;
        align-self: flex-start;
        color:rgb(254, 180, 217);
        font-family: 'Rubik';
        font-size: 3em;
    }
    
    
    h2{
        color:rgb(254, 180, 217);
        font-size: 1,5em;
        font-family: 'Inter', sans-serif;
        text-align: center;
    }
    
    h3{ color:rgb(254, 180, 217);
        font-size: 1em;
        font-style: oblique;
        font-family: 'Inter', sans-serif;
        text-align: center;
        padding-bottom: 3%;
    }
    
    
    p{
        font-family: 'Mukta', sans-serif; 
        font-size: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .parrafoPagos{
        text-align: justify;
        font-family: 'Mukta', sans-serif;
        display: flex;
        flex-direction: row;
        font-size: medium;
        padding-bottom: 5%;
    }
    
    
    /*footer*/
    
    .pieDePagina{
        color: dimgray;
    }
    
    footer{
        background-color: rgb(243, 238, 238);
        grid-area: footer;
        display: flex;
        justify-content: space-around;
        height: 110px;
        width: 100%;  
        align-items: center;
    }
    
    .social{
          display: flex;
          gap: 20px;
    }
    
    .social i{
        font-size: 20px;
    }
    
    
    /*cunas*/
    
    #grillaCunas{
        display: grid;
        grid-template-areas: "header"
                             "descripcion"
                             "fotosCuna"
                             "footer";
        grid-template-columns: 1fr;  
        grid-template-rows: 2fr 1fr 2fr 1fr; 
        row-gap: 15px;
        height: 600px; 
        width: auto; 
    }
    
    .fotosCunas{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 3%;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 4em;
        justify-content: space-around;
    }
    
    /*blanqueria*/

 #grillaBlanqueria{ 
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "blanqueria"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    row-gap: 15px;
    height: 600px; 
    width: auto; 
}

 .blanqueria{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%; 
}


/*promociones*/

#grillaPromo{
    display: grid;
    grid-template-areas: "header"
                         "descripcion"
                         "articulo"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    row-gap: 15px;
    height: 600px; 
    width: auto; 

}




/*contacto*/

#grillaContacto{
    display: grid;
    grid-template-areas: "header"
                         "bebe"
                         "direccion"
                         "footer";
    grid-template-columns: 1fr;  
    grid-template-rows: 2fr 1fr 2fr 1fr; 
    height: 600px; 
    width: auto; 
}

form{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-items: center;
}

.direccion{ 
    font-family: 'Mukta', sans-serif; 
    font-size: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.bebe{
    background-color: rgb(227, 233, 233);
    text-align: center;
    width: 100%;
    height: 100%;
}


}




