@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@100;200&family=Mukta:wght@200&family=Oleo+Script+Swash+Caps:wght@700&family=Pacifico&family=Poppins:wght@100&family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-size: 1em;
}

/* foto de mi index */
#foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

#nosotros {
  background-color: #e3e9e9;
}

h3 {
  color: #feb4d9;
  font-size: 1em;
  font-style: oblique;
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding-bottom: 3%;
  font-weight: bolder;
}

p {
  font-family: 'Mukta', sans-serif;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

/* seccion contacto */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direccion {
  font-family: 'Mukta', sans-serif;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.bebe {
  background-color: #e3e9e9;
  text-align: center;
  width: 100%;
  height: 100%;
}

/*seccion promociones*/
.descripcion {
  background-color: #e3e9e9;
}

.articulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 2em;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  background-color: #f3eeee;
  font-family: 'Inter', sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

.gris {
  background-color: #f3eeee;
}

.navbar-light .navbar-brand {
  font-family: 'Rubik';
  font-size: 2em;
  color: #feb4d9;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .nav-bar-nav.show > .nav-link {
  color: #feb4d9;
  font-family: 'Rubik';
  font-size: 1,5em;
}

footer {
  background-color: #f3eeee;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 110px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer p {
  color: dimgray;
  font-weight: bolder;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

footer i {
  font-size: 20px;
  color: #feb4d9;
}

header#header {
  grid-area: header;
}

figure#foto {
  grid-area: foto;
}

section#nosotros {
  grid-area: nosotros;
}

section#pagos {
  grid-area: pagos;
}

@media (max-width: 760px) {
  #grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "foto" "nosotros" "pagos" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 90% 1fr 1fr 1fr;
        grid-template-rows: 2fr 90% 1fr 1fr 1fr;
    row-gap: 10px;
    height: 600px;
    width: auto;
  }
  h2 {
    color: #feb4d9;
    font-size: 1em;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: bolder;
  }
  .parrafoPagos {
    text-align: justify;
    font-family: 'Mukta', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: medium;
    padding-bottom: 2em;
    color: #659292;
  }
  /*cunas*/
  #grillaCunas {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "descripcion" "fotosCunas" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr 2fr 1fr;
    row-gap: 15px;
    height: 600px;
    width: auto;
  }
  .fotosCunas {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2em;
  }
  /*blanqueria*/
  #grillaBlanqueria {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "descripcion" "blanqueria" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr 2fr 1fr;
    row-gap: 15px;
    height: 600px;
    width: auto;
  }
  .blanqueria {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2em;
  }
  /*promociones*/
  #grillaPromo {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "descripcion" "articulo" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr 2fr 1fr;
    row-gap: 15px;
    height: 600px;
    width: auto;
  }
  /*contacto*/
  #grillaContacto {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "bebe" "bebe" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr 2fr 1fr;
    height: 600px;
    width: auto;
  }
}

@media (min-width: 761px) {
  #grilla {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "foto" "nosotros" "pagos" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 90% 1fr 1fr 1fr;
        grid-template-rows: 2fr 90% 1fr 1fr 1fr;
    row-gap: 10px;
    height: 600px;
    width: auto;
  }
  h2 {
    color: #feb4d9;
    font-size: 1,5em;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: bolder;
  }
  .parrafoPagos {
    text-align: justify;
    font-family: 'Mukta', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 3em;
            column-gap: 3em;
    font-size: medium;
    padding-bottom: 2em;
    color: #659292;
  }
  /*cunas*/
  #grillaCunas {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "descripcion" "fotosCuna" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr 2fr 1fr;
    row-gap: 15px;
    height: 600px;
    width: auto;
  }
  .fotosCunas {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    gap: 3%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 4em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  /*blanqueria*/
  #grillaBlanqueria {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "descripcion" "blanqueria" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr 2fr 1fr;
    row-gap: 15px;
    height: 600px;
    width: auto;
  }
  .blanqueria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 20%;
    padding-right: 20%;
    row-gap: 2em;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
  /*promociones*/
  #grillaPromo {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "descripcion" "articulo" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr 2fr 1fr;
    row-gap: 15px;
    height: 600px;
    width: auto;
  }
  /*contacto*/
  #grillaContacto {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header" "bebe" "direccion" "footer";
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 2fr 1fr;
        grid-template-rows: 2fr 1fr 2fr 1fr;
    height: 600px;
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */